<script lang="ts">
export default {
  name: "App",

  data: () => ({
    drawer: null,

    education: [
      {
        title: "การศึกษาระดับประถมศึกษา",
        date: "2009 - 2015",
        institute: "โรงเรียนอนุบาลลพบุรี",
      },
      {
        title: "การศึกษาระดับมัธยมต้น",
        date: "2015 - 2018",
        institute: "โรงเรียนวินิตศึกษา ในพระราชูปถัมภ์ฯ",
      },
      {
        title: "การศึกษาระดับมัธยมปลาย",
        date: "2018 - 2019",
        institute: "โรงเรียนพิบูลวิทยาลัย",
      },
      {
        title: "การศึกษาระดับมัธยมปลาย",
        date: "2019 - 2021",
        institute: "โรงเรียนสิงห์สมุทร",
      },
      {
        title: "การศึกษาระดับอุดมศึกษา",
        date: "2021-Present",
        institute: "มหาวิทยาลัยบูรพา",
      },
    ],
  }),
};
</script>
<template>
  <v-app id="inspire">
    <v-main style="background-color: #f5f5f5">
      <section class="intro-section" id="home">
        <v-row class="align-center px-10" style="height: 250px">
          <v-col lg="6" cols="6" class="pa-6 font-weight-bold py-16">
            <h2 class="display-3"><span>My</span> Portfolio</h2>
            <v-subheader>I'm Arukkha And this is my Portfolio </v-subheader>
            <v-row class="mt-16">
              <v-chip color="primary">
                <v-icon left size="20">mdi-facebook</v-icon>
                Facebook
              </v-chip>
            </v-row>
          </v-col>
          <v-col lg="6" cols="6"> </v-col>
        </v-row>
      </section>
      <v-img
        height="500"
        gradient="to bottom, rgba(0,0,0,.1), rgba(0,0,0,.5)"
        src="https://scontent.fbkk22-6.fna.fbcdn.net/v/t1.6435-9/115766000_948212145661391_6087295444110389228_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=174925&_nc_eui2=AeE76tRJpRhPb7IoxBViArpT3mWKN1TevuzeZYo3VN6-7KfGQ5-KPGTY_Bu5NGdJnsGSUjE5nZjUrg9wZGU7IBGW&_nc_ohc=aLws-hogGvEAX9g6Fxi&_nc_ht=scontent.fbkk22-6.fna&oh=00_AfBGh05zxPO3mPQug82RGrz9hwE9jQsWBjseRGbkPS5gkA&oe=63C1FF6C"
      >
      </v-img>
      <section class="educaion py-6">
        <v-container>
          <h4 class="display-2 text-center" style="font-size: 30px">
            ชื่อ-นามสกุล: นายอารักขา เอี่ยมซิ้ว
          </h4>
          <h4 class="display-2 text-center" style="font-size: 30px">
            รหัสนิสิต: 64160060
          </h4>
          <v-row class="py-8">
            <v-col cols="12" lg="6">
              <v-card class="pa-6 rounded-xl" elevation="5">
                <div class="d-flex align-center justify-space-between">
                  <div class="">
                    <h2 style="font-size: 25px">สิ่งที่สนใจ</h2>
                  </div>
                </div>
                <v-card-text>
                  มีความสนใจทางด้านการสร้างและพัฒนาเกม
                </v-card-text>
              </v-card>
            </v-col>
          </v-row>
        </v-container>
      </section>
      <section class="experiance py-6">
        <v-img
          class="pa-10"
          gradient="to bottom, rgba(0,0,0,.1), rgba(0,0,0,.5)"
          src="https://images.theconversation.com/files/45159/original/rptgtpxd-1396254731.jpg?ixlib=rb-1.1.0&q=45&auto=format&w=1356&h=668&fit=crop"
        >
          <v-container>
            <h4 class="display-2 text-center" style="font-size: 30px">
              Education(ประวัติการศึกษา)
            </h4>
            <v-timeline>
              <v-timeline-item v-for="(edu, index) in education" :key="index">
                <v-card class="rounded-xl">
                  <v-card-title :color="index % 2 === 0 ? 'pink' : 'green'">
                    {{ edu.title }}
                  </v-card-title>
                  <v-card-text>
                    <b>{{ edu.date }}</b
                    ><br />
                    <b>@{{ edu.institute }}</b
                    ><br />
                  </v-card-text>
                </v-card>
              </v-timeline-item>
            </v-timeline>
          </v-container>
        </v-img>
      </section>
    </v-main>
  </v-app>
</template>
